<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        <input type="text" name="brand" value="">
        <input type="text" name="euro" value="">
        <input type="submit">
    </form>
    <table>
        <tr>
            <th>
                Model
            </th>
            <th>
                HP
            </th>
        </tr>
        {% for car in cars %}
        <tr>
            <td>
                {{ car.brand }}
            </td>
            <td>
                {{ car.model }}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>